.container {
  position: relative;
  //height: 145vh;

  .background-container {
    .background-box1 {
      z-index: -1;
      position: absolute;
      top: 5%;
      left: 5%;
      width: calc(100% - 600px);
      height: calc(100% - 500px);
      //width: 1500px;
      //height: 700px;
      background-image: url("@/assets/images/toStartBackground.png");
      background-size: 100% 100%;
      object-fit: cover;
      filter: blur(50px) grayscale(0.3);
      opacity: 0.4;
    }

    .background-box2 {
      z-index: -2;
      position: absolute;
      top: 50%;
      left: -10%;
      width: 50%;
      height: 50%;
      //width: 1000px;
      //height: 700px;
      background-image: url("@/assets/images/toStartBackground2.png");
      background-size: 100% 100%;
      object-fit: cover;
      filter: blur(50px) grayscale(0.3);
      opacity: 0.4;
      overflow: hidden;
    }
  }

  .img-container {
    all: initial;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;

    li:nth-child(1),
    li:nth-child(2) {
      display: inline-block;

      img {
        display: inline-block;
        width: 40%;
        object-fit: cover;
        padding: 100px 20px 20px 0;
      }

      img:nth-child(2) {
        display: inline-block;
        width: 30%;
        object-fit: cover;
      }
    }

    li:nth-child(2) {
      img {
        width: 40%;
        padding-top: 0;
      }

      img:nth-child(2) {
        width: 40%;
      }
    }
  }

  .body-container {
    display: flex;
    align-items: end;
    width: 80%;
    margin: 0 auto 100px;

    .right {
      width: 55%;
      height: 100%;

      img {
        width: 45%;
        //width: 400px;
        padding: 20px 40px 10px 40px;
        animation: opacityAnimation;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
      padding: 20px 0;
      .top {
        h1 {
          font-size: 50px;
          font-weight: 500;
          letter-spacing: 5px;
        }

        p {
          width: 580px;
          padding: 20px 0;
        }
      }

      .bottom {
        margin-top: 100px;

        .button-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 150px;
          background: #007aff;
          border-radius: 16px;
          padding: 15px 20px;
          cursor: pointer;

          li:nth-child(1) {
            color: #ffffff;
            font-size: 20px;
          }
        }
      }
    }
  }
}
