$theme-color: gray;
$main-width: 100px;
$main-height: 100px;

//public
$header-height: 60px;
$header-font-size:14px;
$aside-width: 210px;

//介绍页
$header-background-color: rgba(#bfc5ff, 0.3);
$header-background-active-color: rgba(#bfc5ff, 0.6);
$color-text-active: #000000;
$text-font-small-size: 14px;
$text-font-middle-size: 16px;

//home
