.container {
  width: 95%;
  margin: 0 auto;

  header {
    position: relative;
    width: 500px;
    height: 35px;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg, #0c8ce9, #99d1fb);
    margin: 20px 0;

    input {
      width: 93%;
      height: 100%;
      border-radius: 8px;
      background: var(--background);
      outline: none;
      border: none;
      padding-left: 35px;

      &::placeholder {
        color: var(--font-color2);
      }
    }

    .el-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      color: var(--font-color2);
      transform: translateY(-50%);
    }
  }

  .operation {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--border-line-color);
    border-radius: 8px;

    ul {
      display: flex;

      li {
        display: flex;
        align-items: center;
        border-radius: 16px;
        margin: 10px;
        padding: 5px 10px;
        cursor: pointer;
        i{
          color: var(--font-color1);
          padding:0 5px;
        }
        span{
          color: var(--font-color1);
          font-size: $text-font-small-size;
        }
        &:hover {
          background: var(--aside-active-color);
        }
      }
    }
  }
}
.active{
  i{
    color: #228aff !important;
  }
  span{
    color: #228aff !important;
  }
}