.el-header {
  position: relative;
  width: 100%;
  height: $header-height;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--border-line-color);
  padding: 0;
}

.el-aside{
  display: block;
  position: absolute;
  left: 0;
  top: $header-height;
  bottom: 0;
  width: $aside-width;
  background-color: var(--aside-background-color);
  border-right: 1px solid var(--border-line-color);
}
.el-main {
  position: absolute;
  left: $aside-width;
  right: 0;
  top:  $header-height;
  bottom: 0;
  background-color: var(--aside-background-color);
  overflow-y: scroll;
  padding: 10px;
  ul{
    li{
      color: var(--aside-text-color);
    }
  }
}